# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
myevn/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

#  & Static (optional depending on your setup)
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db